<app-header></app-header>

<div class="row mt-4">

    <div class="col-12 text-center mb-4 text-md-start">
        <input type="button" class="btn btn-info" value="Créer un article" routerLink="/posts/create" />
    </div>

    <div class="col-12 mt-3 mb-4">
        <div class="row row-cols-1 g-4 row-cols-md-2">

            <div class="col" *ngFor="let post of (posts$ | async)?.posts">
                <a [routerLink]="['/posts/detail',post.id]" class="text-decoration-none">
                    <div class="card h-100">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h5 class="m-0"><b>{{post.title}}</b></h5>
                                </div>
                                <div class="col-12 mb-3">( {{post.topic.title}} )</div>
                                <div class="col-5 mb-3"><i>Le {{post.createdAt|date:"dd/MM/yyyy"}},</i></div>
                                <div class="col-5 mb-3"><i>Par {{post.user.username}}.</i></div>
                                <div class="col-12">{{post.content}}</div>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>