<app-header></app-header>

<div class="row text-center">

    <div class="col-12 text-start mb-4">
        <input type="button" class="btn btn-dark btn-sm" value="Retour" routerLink="/posts" />
    </div>

    <div class="col-12 mb-4">
        <h4 class="m-0"><u><b>Créer un nouvel article</b></u></h4>
    </div>

    <div class="col-3 d-none d-md-block"></div>
    <div class="col-12 mt-3 mb-4 col-md-6">
        <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="submit()">

            <div class="mb-4">
                <select class="form-select form-select-sm" formControlName="postTopic" id="postTopic">
                    <option [ngValue]="null" disabled>Sélectionner un thème</option>
                    <option *ngFor="let topic of (topics$ | async)?.topics" [ngValue]="topic">{{topic.title}}</option>
                </select>
            </div>

            <div class="mb-4">
                <input placeholder="Titre de l'article" type="text" class="form-control form-control-sm" maxlength="128" formControlName="postTitle" id="postTitle" />
            </div>

            <div class="mb-4">
                <textarea placeholder="Contenu de l'article" rows="4" class="form-control form-control-sm" maxlength="1024" formControlName="postContent" id="postContent"></textarea>
            </div>

            <input type="submit" class="btn btn-success" value="Créer" [disabled]="postForm.invalid || submitDisabled" id="postSubmit" />

            <br *ngIf="onError" />
            <label *ngIf="onError" class="mt-4"><b>Création impossible de l'article.</b></label>
        
        </form>
    </div>

</div>