<app-header></app-header>

<div class="row mt-4">

    <div class="col-12 mb-4">
        <div class="row row-cols-1 g-4 row-cols-md-2">

            <div class="col" *ngFor="let topic of (topics$ | async)?.topics">
                <div class="card h-100">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12 mb-3">
                                <h5 class="m-0"><b>{{topic.title}}</b></h5>
                            </div>
                            <div class="col-12 mb-3">{{topic.description}}</div>
                            <div class="col-12 text-center" *ngIf="!myTopicsId?.includes(topic.id)">
                                <input type="button" class="btn btn-info btn-sm" value="S'abonner" (click)="subscribe(topic.id)" onclick="clickBtn(this)" />
                            </div>
                            <div class="col-12" *ngIf="myTopicsId.includes(topic.id)">
                                <span class="badge rounded-pill text-bg-success ms-4">Abonné</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>