<div class="row text-center">

    <div class="col-12 text-start d-none d-md-block">
        <a routerLink="/"><img src="/assets/logo.png" alt="MDD" height="100" /></a>
    </div>

    <div class="col-12 d-none d-md-block">
        <hr class="text-dark m-0" />
    </div>

    <div class="col-12 text-start mt-4 mb-md-4">
        <input type="button" class="btn btn-dark btn-sm" value="Retour" routerLink="/" />
    </div>

    <div class="col-12 mb-4 d-md-none">
        <img src="/assets/logo.png" alt="MDD" height="150" />
    </div>

    <div class="col-12 mb-4">
        <h4 class="m-0"><u><b>Connexion</b></u></h4>
    </div>

    <div class="col-3 d-none d-md-block"></div>
    <div class="col-12 mb-4 col-md-6">
        <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">

            <div class="text-start mb-4">
                <label for="loginEmail" class="form-label mb-1">E-mail</label>
                <input type="email" class="form-control form-control-sm" maxlength="64" formControlName="loginEmail" id="loginEmail" />
            </div>

            <div class="text-start mb-4">
                <label for="loginPassword" class="form-label mb-1">Mot de passe</label>
                <div class="input-group">
                    <input [type]="passwordHidden?'password':'text'" class="form-control form-control-sm" maxlength="128" formControlName="loginPassword" aria-describedby="loginPasswordVisibility" id="loginPassword" />
                    <input type="button" class="btn btn-secondary btn-sm" [value]="passwordHidden?'Afficher':'Masquer'" id="loginPasswordVisibility" (click)="passwordHidden=!passwordHidden" />
                </div>
            </div>

            <input type="submit" class="btn btn-success mt-4" value="Se connecter" [disabled]="loginForm.invalid || submitDisabled" id="loginSubmit" />

            <br *ngIf="onError" />
            <label *ngIf="onError" class="mt-4"><b>Connexion impossible.</b></label>
        </form>
    </div>

</div>