<div class="row">

    <div class="col-6 text-start col-md-3">
        <a routerLink="/"><img src="/assets/logo.png" alt="MDD" height="100" /></a>
    </div>

    <div class="col-6 d-flex justify-content-end col-md-9">
        <nav class="navbar me-3">

            <button type="button" class="navbar-toggler d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end d-md-none" id="offcanvasNavbar">

                <div class="offcanvas-header d-flex justify-content-end">
                    <input type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" />
                </div>

                <div class="offcanvas-body text-center">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
   
                        <li class="nav-item mb-4">
                            <input type="button" class="btn btn-dark btn-sm" value="Articles" data-bs-dismiss="offcanvas" routerLink="/posts" />
                        </li>
                        <li class="nav-item mb-4">
                            <input type="button" class="btn btn-dark btn-sm" value="Thèmes" data-bs-dismiss="offcanvas" routerLink="/topics" />
                        </li>
                        <li class="nav-item mt-4">
                            <input type="button" class="btn btn-dark btn-sm" value="Mon compte" data-bs-dismiss="offcanvas" routerLink="/me" />
                        </li>

                    </ul>
                </div>
                
            </div>

            <input type="button" class="btn btn-dark btn-sm me-3 d-none d-md-block" value="Articles" routerLink="/posts" />
            <input type="button" class="btn btn-dark btn-sm me-3 d-none d-md-block" value="Thèmes" routerLink="/topics" />
            <input type="button" class="btn btn-dark btn-sm ms-3 d-none d-md-block" value="Mon compte" routerLink="/me" />

        </nav>
    </div>

    <div class="col-12 mb-4">
        <hr class="text-dark m-0" />
    </div>

</div>