<app-header></app-header>

<div class="row text-center">

    <div class="col-12 mb-4">
        <h4 class="m-0"><u><b>Profil utilisateur</b></u></h4>
    </div>

    <div class="col-3 d-none d-md-block"></div>
    <div class="col-12 text-start mt-3 mb-4 col-md-6">
        Nom d'utilisateur : {{me?.username}}
        <br/>
        Adresse email : {{me?.email}}
    </div>


    <div class="col-12 mt-3 mb-4">
        <u><b>Modifier son profil</b></u>
    </div>

    <div class="col-3 d-none d-md-block"></div>
    <div class="col-12 mb-4 col-md-6">
        <form *ngIf="meForm" [formGroup]="meForm" (ngSubmit)="submit()">

            <div class="mb-4">
                <input placeholder="Nom d'utilisateur" type="text" class="form-control form-control-sm" maxlength="64" formControlName="meUsername" id="meUsername" (keyup)="fieldChange()" />
            </div>

            <div class="mb-4">
                <input placeholder="Adresse email" type="text" class="form-control form-control-sm" maxlength="64" formControlName="meEmail" id="meEmail" (keyup)="fieldChange()" />
            </div>

            <input type="submit" class="btn btn-success" value="Sauvegarder" [disabled]="meForm.invalid || meFormInvalid || submitDisabled" id="meSubmit" />

            <br *ngIf="loginInfo" />
            <label *ngIf="loginInfo" class="mt-4"><b>Une reconnexion sera nécessaire.</b></label>

        </form>
    </div>


    <div class="col-12"></div>

    <div class="col-1 d-none d-md-block"></div>
    <div class="col-12 mb-4 col-md-10">
        <hr class="text-dark m-0" />
    </div>

    <div class="col-12"></div>


    <div class="col-12 mt-3 mb-4">
        <input type="button" class="btn btn-danger" value="Se déconnecter" (click)="logout()" onclick="clickBtn(this)" />
    </div>


    <div class="col-12"></div>

    <div class="col-1 d-none d-md-block"></div>
    <div class="col-12 mt-3 mb-4 col-md-10">
        <hr class="text-dark m-0" />
    </div>

    <div class="col-12"></div>


    <div class="col-12 mt-3 mb-4">
        <u><b>Abonnements</b></u>
    </div>

    <div class="col-12 text-start mb-4">
        <div class="row row-cols-1 g-4 row-cols-md-2">

            <div class="col" *ngFor="let topic of me?.topics">
                <div class="card h-100">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12 mb-3">
                                <h5 class="m-0"><b>{{topic.title}}</b></h5>
                            </div>
                            <div class="col-12 mb-3">{{topic.description}}</div>
                            <div class="col-12 text-center">
                                <input type="button" class="btn btn-info btn-sm" value="Se désabonner" (click)="unsubscribe(topic.id)" onclick="clickBtn(this)" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>