<div class="row text-center">

    <div class="col-12 text-start d-none d-md-block">
        <a routerLink="/"><img src="/assets/logo.png" alt="MDD" height="100" /></a>
    </div>

    <div class="col-12 d-none d-md-block">
        <hr class="text-dark m-0" />
    </div>

    <div class="col-12 text-start mt-4 mb-md-4">
        <input type="button" class="btn btn-dark btn-sm" value="Retour" routerLink="/" />
    </div>

    <div class="col-12 mb-4 d-md-none">
        <img src="/assets/logo.png" alt="MDD" height="150" />
    </div>

    <div class="col-12 mb-4">
        <h4 class="m-0"><u><b>Inscription</b></u></h4>
    </div>

    <div class="col-3 d-none d-md-block"></div>
    <div class="col-12 mb-4 col-md-6">
        <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="submit()">

            <div class="text-start mb-4">
                <label for="registerUsername" class="form-label mb-1">Nom d'utilisateur</label>
                <input type="text" class="form-control form-control-sm" maxlength="64" formControlName="registerUsername" id="registerUsername" />
            </div>
            
            <div class="text-start mb-4">
                <label for="registerEmail" class="form-label mb-1">E-mail</label>
                <input type="email" class="form-control form-control-sm" maxlength="64" formControlName="registerEmail" id="registerEmail" />
            </div>

            <div class="text-start mb-4">
                <label for="registerPassword" class="form-label mb-1">Mot de passe</label>
                <div class="input-group">
                    <input [type]="passwordHidden?'password':'text'" class="form-control form-control-sm" maxlength="128" formControlName="registerPassword" [pattern]="passwordPattern" aria-describedby="registerPasswordVisibility" id="registerPassword" />
                    <input type="button" class="btn btn-secondary btn-sm" [value]="passwordHidden?'Afficher':'Masquer'" aria-describedby="registerPasswordInfo" id="registerPasswordVisibility" (click)="passwordHidden=!passwordHidden" />
                </div>
                <div class="form-text" id="registerPasswordInfo">Le mot de passe doit contenir 8 caractères ou plus, dont un chiffre, une minuscule, une majuscule et un caractère spécial.</div>
            </div>

            <input type="submit" class="btn btn-success" value="S'inscrire" [disabled]="registerForm.invalid || submitDisabled" id="registerSubmit" />

            <br *ngIf="onError" />
            <label *ngIf="onError" class="mt-4"><b>Inscription impossible.</b></label>
            
        </form>
    </div>

</div>