<app-header></app-header>

<div class="row">

    <div class="col-12 mb-4">
        <input type="button" class="btn btn-dark btn-sm" value="Retour" routerLink="/posts" />
    </div>


    <div class="col-1 d-none d-md-block"></div>
    <div class="col-12 mb-4 col-md-10">
        <div class="row">

            <div class="col-12 text-center mt-3 mb-3 text-md-start">
                <h5 class="m-0"><u><b>{{post?.title}}</b></u></h5>
            </div>
            <div class="col-12 text-center mb-4 text-md-start">( {{post?.topic?.title}} )</div>
            
            <div class="col-1 d-md-none"></div>
            <div class="col-5 text-center mb-4 text-md-start"><i>Le {{post?.createdAt|date:"dd/MM/yyyy"}},</i></div>
            <div class="col-5 text-center mb-4 text-md-start"><i>Par {{post?.user?.username}}.</i></div>
            
            <div class="col-12">{{post?.content}}</div>

        </div>
    </div>


    <div class="col-12"></div>

    <div class="col-1 d-none d-md-block"></div>
    <div class="col-12 mb-4 col-md-10">
        <hr class="text-dark m-0" />
    </div>

    <div class="col-12"></div>


    <div class="col-1 d-none d-md-block"></div>
    <div class="col-12 text-center mt-4 mb-4 col-md-10 text-md-start">
        <u><b>Commentaires</b></u>
    </div>

    <div class="col-12"></div>

    <div class="col-1 d-none d-md-block"></div>
    <div class="col-12 mt-3 mb-4 col-md-10">
        <div class="row">

            <div class="col-1"></div>
            <div class="col-10 mb-4">
                <div class="row mb-3" *ngFor="let comment of (comments$ | async)?.comments">
                    
                    <div class="col-12 d-md-none">
                        <div class="row">

                            <div class="col-9 mb-1">
                                <div class="bg-body-tertiary border rounded p-2">{{comment.content}}</div>
                            </div>
                            <div class="col-9 mb-3">
                                <span class="ms-3"><i>{{comment.createdAt|date:"dd/MM/yyyy"}}</i></span>
                            </div>
                            <div class="col-3 mb-3">
                                <span class="me-3"><i>{{comment.user.username}}</i></span>
                            </div>
                            <div class="col-12"><hr class="text-dark m-0" /></div>
                        
                        </div>
                    </div>

                    <div class="col-12 d-none d-md-block">
                        <div class="row">

                            <div class="col-3 text-end mb-1">
                                <span class="ms-3"><i>{{comment.user.username}}</i></span>
                            </div>
                            <div class="col-9 mb-1">
                                <div class="bg-body-tertiary border rounded p-2">{{comment.content}}</div>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-9 text-end mb-3">
                                <span class="me-3"><i>{{comment.createdAt|date:"dd/MM/yyyy"}}</i></span>
                            </div>
                            <div class="col-12"><hr class="text-dark m-0" /></div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12"></div>

            <div class="col-1"></div>
            <div class="col-10 mt-3">
                <form *ngIf="commentForm" [formGroup]="commentForm" (ngSubmit)="submit()">
                    <div class="row">

                        <div class="col-12 mb-3">
                            <textarea placeholder="Écrivez ici votre commentaire" rows="4" class="form-control form-control-sm" maxlength="1024" formControlName="commentContent" id="commentContent"></textarea>
                        </div>
                        <div class="col-12 text-center text-md-start">
                            <input type="submit" class="btn btn-success" value="Envoyer" [disabled]="commentForm.invalid || submitDisabled" id="commentSubmit" />
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>