<div class="row text-center">

    <div class="col-12 mt-4 mb-4">
        <img src="/assets/logo.png" alt="MDD" height="150" />
    </div>

    <div class="col-12 mb-4 col-md-6 text-md-end">
        <input type="button" class="btn btn-info me-md-4" value="Se connecter" routerLink="/login" />
    </div>

    <div class="col-12 mb-4 col-md-6 text-md-start">
        <input type="button" class="btn btn-info ms-md-4" value="S'inscrire" routerLink="/register" />
    </div>

</div>